{% extends 'base.html'%}
{% load static %}

{% block content %}


<!-- ################################################## PRELOADER START ###########################################-->
<!-- ################################################## PRELOADER START ###########################################-->    

<div id="preloader">
  <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>  

<!-- ################################################ PRELOADER END HERE #########################################-->
<!-- ################################################ PRELOADER END HERE #########################################-->



<!-- ################################################ HEADER START HERE ##########################################-->
<!-- ################################################ HEADER START HERE ##########################################-->    

<header class="">
  <nav class="navbar navbar-expand-lg ">
    <div class="container">

        <a class="navbar-brand" href="index.html"><h2>Bismark <em>Hotel</em></h2></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link" href="{% url 'index' %}">Home
                
              </a>
            </li> 

            <li class="nav-item">
              <a class="nav-link" href="{% url 'rooms' %}">Book Rooms</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="#">{{user.first_name}}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}


          </ul>
        </div>


    </div>
  </nav>
</header>

<!-- ################################################### HEADER END HERE ######################################-->
<!-- ################################################### HEADER END HERE ######################################-->

<!-- ################################################### REGISTRATION START HERE #############################-->
<!-- ################################################### REGISTRATION START HERE #############################-->   

    <div class="register-heading header-text">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
                <h2 style="text-transform:capitalize; text-align: center;"> Register for free!</h2>
	              <h4 style="text-align: center;">Create an account now</h4>            
            </div>
          </div>
        </div>

      </div>
    </div>




    <div id="register-div">
        <div class="container">

	         <div class="reg-div" id="registration-image"></div>

	         <div class="reg-div" id="register-form">
              <form action="register" method="post">
                {% csrf_token %}

                  <div class="form-group">
                       <label for="first_name">First Name</label>
                       <input type="text" class="form-control" name="first_name" placeholder="First name">
                  </div>

                  <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Last name">
                  </div>

                  <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>

                  <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" class="form-control" name="email" placeholder="Email">
                       <small id="email" class="form-text text-muted">We'll never share your email with anyone else</small>
                  </div>

                  <div>
                      <label for="password1">Password</label>
                      <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
                  </div>

                  <div>
                      <label for="password2">Confirm Password</label>
                      <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
                  </div><br>

                  <button type="submit" class="btn" style="width: 100%; background-color: brown; color: white;">Submit</button>
                  

              </form>
          </div>

        </div>
    </div>




<!-- ################################################### REGISTRATION END HERE ##################################-->
<!-- ################################################### REGISTRATION END HERE ##################################-->    



<!-- ################################################## FOOTER START HERE ############################################################# -->
<!-- ################################################## FOOTER START HERE ############################################################# -->

<div class="wrapper row4">
  <footer id="footer" class="hoc clear" > 
  
  
  
  <div class="one_quarter first">
    <h6 class="heading">Address</h6>
    <ul class="nospace linklist contact btmspace-30">
      <li><i class="fas fa-map-marker-alt"></i>
        <address>
        Juna  &amp; Malakia, South Sudan, +211
        </address>
      </li>
      <li><i class="fas fa-phone"></i>0921 967 834 </li>
      <li><i class="far fa-envelope"></i> info@hotelbooking.com</li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
    </ul>
  </div>
  
  
  <div class="one_quarter">
    <h6 class="heading">important dates</h6>
    <ul class="nospace linklist">
      <li>
        <article>
          <p class="nospace btmspace-10"><a href="#" >Get your rooms at affordable prices and good discounts.</a></p>
          <time class="block font-xs" datetime="2045-04-06">Wednesdays</time>
        </article>
      </li>
      <li>
        <article>
          <p class="nospace btmspace-10"><a href="#" >Visit our offices and get rooms at cheaper prices.</a></p>
          <time class="block font-xs" datetime="2045-04-05">Fridays</time>
        </article>
      </li>
    </ul>
  </div>
  
  
  <div class="one_quarter">
    <h6 class="heading">our services</h6>
    <ul class="nospace linklist">
      <li><a href="#">Book Rooms Online</a></li>
      <li><a href="#">questions & Answers</a></li>
      <li><a href="#">Visit us</a></li>
      <li><a href="#">Customer care</a></li>
    </ul>
  </div>
  
  
  <div class="one_quarter">
    <h6 class="heading">our pages</h6>
    <ul class="nospace clear latestimg">
      <li><a class="imgover" href="#"><img src="{% static 'photos/single/single1.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/single/single2.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/single/single3.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/twin/twin1.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/twin/twin2.jpeg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/twin/twin3.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/premier/premier1.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/premier/premier2.jpg' %}" alt=""></a></li>
      <li><a class="imgover" href="#"><img src="{% static 'photos/premier/premier4.jpg' %}" alt=""></a></li>
    </ul>
  </div>
  
  
  
  </footer>
  </div>
  
  <!-- ################################################### FOOTER ENDS HERE #############################################################-->
  <!-- ################################################### FOOTER ENDS HERE #############################################################-->
  


  
{% endblock%}








