{% extends 'base.html'%}
{% load static %}

{% block content %}

    
        <div class="container" id="contains">
            
            <div class="row" id="top-bar">
              <div class="col"><h1>BISMARK</h1></div>
              <div class="col"><h1>Users</h1></div>
            </div>

            <div class="row">
                <div class="col-sm-4" id="side-bar">
                    <div class="list-group" id="items">
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-th-large"></i> DASHBOARD</a>
                        <a href="{% url 'users' %}" class="list-group-item list-group-item-action active" aria-current="true"><i class="fas fa-user"></i>Users</a>
                        <a href="{% url 'bookings' %}" class="list-group-item list-group-item-action"><i class="fas fa-book"></i>Bookings</a>
                        <a href="{% url 'room' %}" class="list-group-item list-group-item-action"><i class="fas fa-building"></i>Rooms</a>
                        <a href="{% url 'messages' %}" class="list-group-item list-group-item-action"><i class="fas fa-comment"></i>Messages</a>
                        <a href="{% url 'index' %}" class="list-group-item list-group-item-action"><i class="fas fa-th-large"></i> HOME</a>
                      </div>
                </div>
                <div class="col-sm-8" id="main-side">
                    <table class="table table-hover">

                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Is_staff</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for user in users%}
                          <tr>
                            <td scope="row">{{user.id}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.is_staff}}</td>
                            <td><a href="{% url 'edit' user.id %}">Edit</a></td>
                            <td><a href="{% url 'delete' user.id %}">Delete</a></td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                </div>
            </div>
        </div>

{% endblock %}